################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Interface/AddOns/update_Aurora
/Interface/AddOns/_nuiAurora
